<mat-nav-list>
  <div class="profile-card">
    <img src="../../../../assets/e2ee_logo-label.PNG" />
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <img src="../../../../assets/home_small.png" />Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <img src="../../../../assets/dashboard_small.png" />
      Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/measure">
    <img src="../../../../assets/measure_small.png" />
      Measure</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/calculate">
    <img src="../../../../assets/calculate_small.png" />
      Calculate</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/analyze">
    <img src="../../../../assets/analyze_small.png" />
    Analyze</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reduce">
    <img src="../../../../assets/reduce_small.png" />
      Reduce</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/offset">
    <img src="../../../../assets/offset_small.png" />
      Offset</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">
    <img src="../../../../assets/reports_small.png" />
      Reports</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/predict">
    <img src="../../../../assets/predict_small.png" />
      Predict</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <img src="../../../../assets/settings_small.png" />
    Settings
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/sing-out">
    <img src="../../../../assets/sign_out_small.png" />
    Sign Out
  </a>
</mat-nav-list>