<mat-card-title>Emissions Work Flow
</mat-card-title>

<div class="mat-table">
    <div class="mat-row">
        <div class="mat-cell"></div> 
        <div class="mat-top"><img class="icon-top" src="../../../assets/link-predict.PNG" /></div>
        <div class="mat-cell-right">
            <img routerLink="/predict" class="icon" src="../../../assets/predict.png" />
            Predict
        </div>
    </div>
    <div class="mat-row">
        <div class="mat-cell">                      
            <img routerLink="/measure" class="icon" src="../../../assets/measure.png" />
            Measure    
        </div>
        <div class="mat-cell"> <img class="icon" src="../../../assets/arrow.PNG" /></div>
        <div class="mat-cell">
            <img routerLink="/calculate" class="icon" src="../../../assets/calculate.png" />
            Calculate Scope 1, 2 & 3
        </div>        
        <div class="mat-cell"><img class="icon" src="../../../assets/arrow.PNG" /></div>
        <div class="mat-cell">
            <img routerLink="/analyze" class="icon" src="../../../assets/analyze.png" />
            Analyze
        </div>
        <div class="mat-cell"><img class="icon" src="../../../assets/arrow.PNG" /></div>
        <div class="mat-cell">
            <img routerLink="/reduce" class="icon" src="../../../assets/reduce.png" />
            Reduce Carbon Footprint
        </div>
        <div class="mat-cell"><img class="icon" src="../../../assets/arrow.PNG" /></div>
        <div class="mat-cell">
            <img routerLink="/offset" class="icon" src="../../../assets/offset.png" />
            Offset That cannot be reduced
        </div>
        <div class="mat-cell"><img class="icon" src="../../../assets/arrow.PNG" /></div>
        <div class="mat-cell">
            <img routerLink="/reports" class="icon" src="../../../assets/reports.png" />
            Report
        </div>
    </div>
    <div class="mat-row">      
        <div class="mat-bottom"><img class="icon-bottom" src="../../../assets/u-shape.PNG" /></div>
    </div>
</div>