:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 350px;
  background-color: rgb(65, 87, 35);
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
