<div class="container">
    <img src="../../../assets/welcome_sign_in.PNG" alt="Welcome to e2eE">
    <div class="centered">
        <form (ngSubmit)="onSubmit()">
            <input placeholder="Email" name="username">
            <br />
            <br />
            <br />
            <br />
            <input type="password" placeholder="Password" name="password">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <button class="login-button" routerLink="/home">Login</button>
        </form>
    </div>
</div>